

  <div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
    <div class="efect-war one"></div>
    <div class="efect-war two"></div>
  </div>


